@import 'card';
$primary-color: #fff;
$title-color: #000;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: $primary-color;
	color: $title-color;
	line-height: 1.5;
}