@import 'variables';
@import 'header';
@import 'card';
@import 'card-grid';
@import 'modal';


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: $primary-color;
	color: $text-color;
	line-height: 1.5;
}

.card-grid__container {
    margin: $global-margin
}

.loader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 1;
    transition: $fade-transition;
}