.card__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    cursor: $clickable;

    .card__image {
        width: 100%;
        object-fit: cover;
        height: 60%;
    }
    
    .card__download-btn {
        color: $text-color;
        text-decoration: none;

    }

    &:hover, &:active {
        background: #000;
        color: $secondary-text-color;
        
        .card__download-btn {
            color: $secondary-text-color;
    
        }
    }
}