$primary-color: #fff;
$text-color: #000;
$secondary-text-color: #fff;
$global-margin: 5% 10%;
$main-header-margin: 0 10%;
$header-line-height: 1.8;
$clickable: pointer;
$fade-transition: opacity 1.5s;